@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a.active {
    color: orange;
    font-weight: bold;
  }
  .drawer-side a {
    background-color: transparent;
  }

  input, select {
    width: 100% !important
  }

  form {
    margin: 40px 20px !important;
  }